#content-wrapper {
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}